.AdminList{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0;
}
.Requests{
    width: 100%;
    background-color: #00AEEF;
    -webkit-box-shadow: 25px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

}

.userdata{
    width: 100%;
    text-align:center;
    background-color: #00AEEF;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

}

.Samples{
    width: 100%;
    background-color: #00AEEF;
    -webkit-box-shadow: 25px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

li {
    list-style-type: none;
}


.requestitem{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}


.companyName{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}


.companyinfo{
    display: flex;
    align-items:center;
    justify-content: center;
    color: white;
    flex-direction: row;
    margin-bottom: 15px;

}
.editbtn{
    border-radius:10%;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom:25px;
}

.editbtn a{
    text-decoration:none;
    color:black;
}


h2{
    color:white;
    font-size: 35px;
    margin:0;
    margin-top: 10px;
}

p{
    width: 150px;
    font-size: 15px;
}

.p__value{
    color: darkblue;
    font-size: 20px;
}